body {
  background: url(../images/bg-main.png) repeat center top #f3f0ea;
  color: #59544c;
  font-family: 'Roboto', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: 'Old Standard TT', serif; }

.navbar {
  border-bottom: #d5912b 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/home.jpg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
  color: #E0DAD1; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #d5912b;
    background: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .fa,
#share-section .fa {
  color: white;
  background: #AE6F39;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #d5912b;
  background: white;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
