@import 'node_modules/bootstrap/scss/functions';
// @import "node_modules/bootstrap/scss/custom";
@import "node_modules/bootstrap/scss/variables";
// Main Sass File
$dark: rgb(48, 53, 56);
$bg-color:#AE6F39;
$font-color: $dark;
$font-color-secondary: #59544c;
$primary-color: #d5912b;
// $dark-overlay: rgba(48, 53, 56, 0.7);
$dark-overlay: $dark;
$icon-size: 30px;
$bg-primary: $primary-color;
$font-color-light: #E0DAD1;
$theme-colors: ( "primary": $primary-color, "danger": #ff4136);
$quote-color: rgba(190, 185, 176, 0.2);
$menu-items: #A9A69F;
body {
    background: url(../img/bg-main.png) repeat center top #f3f0ea;
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: 'Old Standard TT', serif!important;
    // color: #303538;
}

.navbar {
    border-bottom: $primary-color 3px solid;
}

#home-section {
    // background: url('../img/home.jpg') no-repeat;
    min-height: 550px;
    background-size: cover;
    background-attachment: fixed;
    color: $font-color-secondary;
    .home-inner {
        padding-top: 150px;
    }
}

#quote {
    background: $quote-color;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#quote p {
    font-size: 32px;
    // font-family: 'Josefin Sans';
    color: black;
}

#quote p.customer {
    font-size: 20px;
    color: #666;
    font-family: 'Old Standard TT', serif;
}

.pimg2 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*fixed = parallax, scroll = normal*/
    background-attachment: fixed;
}

.pimg2 {
    background-image: url('../img/pexels-photo-122588.jpeg');
    min-height: 400px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

footer {
    width: auto;
    // max-width: 67.5em;
    border-top: double 6px #d6d4cf;
    text-align: center;
    margin: 0 0.9375em;
    color: $font-color-secondary;
}

// #explore-section,
// #share-section {
//     .fa {
//         color: white;
//         background: $bg-color;
//         padding: 4px;
//         border-radius: 5px;
//         font-size: $icon-size;
//     }
// }
// #create-section {
//     .fa {
//         color: $primary-color;
//         background: white;
//         padding: 4px;
//         border-radius: 5px;
//         font-size: $icon-size;
//     }
// }
@import "node_modules/bootstrap/scss/bootstrap";