@import 'node_modules/bootstrap/scss/functions';
// @import "node_modules/bootstrap/scss/custom";
@import "node_modules/bootstrap/scss/variables";
// Main Sass File



@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin bp-small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

$dark: rgb(48, 53, 56);
$bg-color:#AE6F39;
$font-color: $dark;
$font-color-secondary: #59544c;
$primary-color: #d5912b;
$dark-overlay: $dark;
$icon-size: 30px;
$bg-primary: $primary-color;
$font-color-light: #E0DAD1;
$name-banner-color: #f3f0ea;
$theme-colors: ( "primary": $primary-color, "danger": #d42419, "success": #6C9A5B);
$quote-color: rgba(190, 185, 176, 0.2);
$menu-items: #A9A69F;
$info-color: rgb(245, 243, 241);
body {
    background: url(../img/bg-main.png) repeat center top #f3f0ea;
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: 'Old Standard TT', serif!important;
    // color: #303538;
}

.navbar {
    border-bottom: $primary-color 3px solid;
}

#home-section {
    // background: url('../img/home.jpg') no-repeat;
    min-height: 515px;
    background-size: cover;
    background-attachment: fixed;
    color: $font-color-secondary;
    .home-inner {
        padding-top: 120px;
    }
}

#quote {
    background: $quote-color;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#quote p {
    font-size: 32px;
    // font-family: 'Josefin Sans';
    color: black;
}

#quote p.customer {
    font-size: 20px;
    color: #666;
    font-family: 'Old Standard TT', serif;
}

#create-section {
    background: $quote-color;
}

.pimg2 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*fixed = parallax, scroll = normal*/
    background-attachment: fixed;
}

.pimg2 {
    background-image: url('../img/wood-nature-forest-tree.jpg');
    min-height: 400px;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

footer {
    width: auto;
    // max-width: 67.5em;
    border-top: double 6px #d6d4cf;
    text-align: center;
    margin: 0 0.9375em;
    color: $font-color-secondary;
}

.card {
  border-radius: 0 !important;
  border: 0 !important;
  .card-body{
      border: 0 !important;
  }
}

.btn {
    border-radius: 0 !important;
}

.card-img-overlay{
    background: $info-color;
    margin: 17%;
    position: relative;
    display: block;
    text-align: center;
    padding: 1.5em 0;
}

hr.short {
    border: none;
    border-bottom: solid 5px #bebab2;
    width: 50%;
    margin: 0.4em auto 1.7em;
    margin-top: 20px;
}

.info-link{
    color: $primary-color;
}

.prod-detail{
    figcaption{
        background-color: $info-color;
        padding: 1%;
        padding-right: 2%;
        padding-left: 4%;
        // line-height: 1px;
        position: absolute;
        top: 80%;
        /* position the top  edge of the element at the middle of the parent */
        // right: 0%;
        // left: 85%;
        // transform: translate(0%, -50%);
        // visibility: visible;
        // @include opacity(1);
        // float: right;
        .prod-name{
            // color: #bebab2;
            font-size: 50px;
        }
    }
}



figure {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    /* Here !!! */
    position: relative;
    margin: 0;
}

figcaption.prod-index {
    background-color: $info-color;
    padding: 12%;
    line-height: 18px;
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    //
    transform: translate(-50%, -50%);
    visibility: hidden;
    @include opacity(0);
    @include transition(visibility 0.35s linear,
    opacity 0.35s linear);
    @include bp-small {
        position: relative;
        visibility: visible;
        @include opacity(1);
        background-color: inherit;
        top: auto;
        left: auto;
        transform: translate(0, 0);
    }
    ;
}

.prod-name{
    text-transform: uppercase;
    font-family: 'Share Tech', sans-serif !important;
    font-weight: bold;
    color: #555e63;
}

a.prod-link {
    color: inherit;
    text-decoration: none;
    line-height: inherit;
    &:hover {
        color: inherit;
        figcaption {
            visibility: visible;
            // opacity:0.8;
            @include opacity(0.8);
        }
    }
}

.prod-specs{
  color: $font-color-secondary;
  font-family: 'PT Serif', serif;
  a{
    font-family: 'Old Standard TT', sans-serif;
    font-weight: bold;
    font-stretch: expanded;
  }
}


@import "node_modules/bootstrap/scss/bootstrap";
