// 
// Main Sass File
$bg-color:#AE6F39;
$font-color: #59544c;
$primary-color: #d5912b;
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 30px;
$bg-primary: $primary-color;
$font-color-secondary: #E0DAD1;
$theme-colors: ( "primary": $primary-color, "danger": #ff4136);
body {
    background: url(../images/bg-main.png) repeat center top #f3f0ea;
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: 'Old Standard TT', serif;
}

.navbar {
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

#home-section {
    background: url('../img/home.jpg') no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
    color: $font-color-secondary;
    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
    }
    .home-inner {
        padding-top: 150px;
    }
    .card-form {
        opacity: 0.8;
    }
    .fa {
        color: $primary-color;
        background: white;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

#explore-section,
#share-section {
    .fa {
        color: white;
        background: $bg-color;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

#create-section {
    .fa {
        color: $primary-color;
        background: white;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

// @import "node_modules/bootstrap/scss/bootstrap";